.container {
  min-height: 50rem;
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: $bp-largest) {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  font-size: 1.6rem;
  background-color: #fff;
  border-bottom: var(--bottom-line);

  @media only screen and (max-width: $bp-smallest) {
    height: 11rem;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: #fff;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--bottom-line);
  font-size: 1.4rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.desc {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);

  @media only screen and (max-width: $bp-medium) {
    padding: 2px;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}